
body {
  font-family: Arial, sans-serif; 
}

main {
  background-color: var(--cor4);
  font-family: var(--font-padrao);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
  gap: 1rem;
}

main.container{
  max-width:1080px;
  position: relative;
  min-height: 100vh; 
}

main h2, h4 {
  text-align: center;
}

main h2 {
  font-family: var(--font-destaque);
}

main h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

main.mt-3 {
  margin-top: 0 !important;
}

.item-field {
  margin-right: 10px;
  cursor: pointer;
}

h5.card-title {
  color: var(--cor3);
  font-weight: bold;
}

.card-body {
  background-color: var(--cor1);
}

.custom-row {
  margin-top: 1.5rem !important;
}
.form-check-label {
  display: flex;
}

input.form-check-input {
  margin-right: 0.5rem;
  border: 1px solid black;  
}

input.form-control {
  margin-top: 0.8rem;
}

ul.custom-list-group {
  --bs-list-group-bg: transparent;
  font-weight: 600;
  --bs-list-group-border-color: none;
}

.mt-4 button {
  border-radius: 0.3rem;
  margin-inline: 1rem;
}

.background-image {
  position: absolute;
  margin-top: 2.7rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/museuImg.png'); /* Substitua pelo caminho da sua imagem */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Coloca a imagem atrás do conteúdo */
  opacity: 1; /* A imagem é totalmente visível por padrão */
  transition: opacity 0.5s ease-in-out; /* Transição suave ao mudar a opacidade */
}

.filtros-selecionados .background-image {
  opacity: 0.2; /* Reduz a opacidade quando um filtro é selecionado */
}

.sem-filtros .background-image {
  opacity: 1; /* Mantém a opacidade total quando nenhum filtro está selecionado */
}

@media (max-width: 425px) {
  .background-image {
    height: 85%;
    left: -35px;
    margin-top: 10.8rem;
  }
  
}