
body {
  font-family: Arial, sans-serif; 
}

main {
  background-color: var(--cor4);
  font-family: var(--font-padrao);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
  gap: 1rem;
}

main.container{
  max-width:1080px;
}

main h2, h4 {
  text-align: center;
}

main h2 {
  font-family: var(--font-destaque);
}

main h4 {
  font-size: 1.2rem;
}

main.mt-3 {
  margin-top: 0 !important;
}

.item-field {
  margin-right: 10px;
  cursor: pointer;
}

h5.card-title {
  color: var(--cor3);
  font-weight: bold;
}

.card-body {
  background-color: var(--cor1);
}

.form-check-label {
  display: flex;
}

input.form-check-input {
  margin-right: 0.5rem;
  border: 1px solid black;  
}

input.form-control {
  margin-top: 0.8rem;
}

ul.custom-list-group {
  --bs-list-group-bg: var(--cor1);
}

.mt-4 button {
  border-radius: 0.3rem;
  margin-inline: 1rem;
}

