footer {
    max-width: 1080px;
    height: 3rem;
    background-color: #86450b;
    font-weight: bold;
    color: #f5e4d6;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }